In [1]:
from scipy import stats
import queueing
import pandas as pd
import numpy as np
import datetime, time
import random

In [2]:
# random.seed(4)

In [3]:
inter_arrival_times_in_seconds = 3600/(8 - 1)
avarage_services_times_in_seconds = 3600/(9 - 1)

In [4]:
print("inter_arrival_times_in_seconds:",inter_arrival_times_in_seconds)
print("avarage_services_times_in_seconds:",avarage_services_times_in_seconds)

inter_arrival_times_in_seconds: 514.2857142857143
avarage_services_times_in_seconds: 450.0

In [5]:
A = queueing.arrival_process("M", stats.poisson(mu = inter_arrival_times_in_seconds))
S = queueing.service_process("M", stats.expon(scale = avarage_services_times_in_seconds))
c = 1

In [6]:
# todo: enable deterministic analyses by adding a list of 'customer_name#', 'interarrival#' and 'servicetime#'

q = queueing.queue(A, S, c)
sim = queueing.simulation(q, seed = 4)

In [7]:
%%time
sim.run(max_arrivals=5) # nr is the number of customers that will arrive at the server

Simulation finished in 1:25:37
Wall time: 2 ms

In [8]:
sim.get_stats()

The arrival rate is:      523.67 seconds
The mean waiting time is: 332.52 seconds
The mean service time is: 541.11 seconds

In [9]:
sim.return_log()

,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
c,,,,,,,,
1,528,131.249917,528.0,528.000000,0.000000,659.249917,131.249917,0.000000
2,598,99.114333,1126.0,1126.000000,0.000000,1225.114333,99.114333,466.750083
3,510,4.062022,1636.0,1636.000000,0.000000,1640.062022,4.062022,410.885667
4,489,1412.332667,2125.0,2125.000000,0.000000,3537.332667,1412.332667,484.937978
5,507,694.444558,2632.0,3537.332667,905.332667,4231.777225,1599.777225,0.000000
6,510,905.434541,3142.0,4231.777225,1089.777225,5137.211766,1995.211766,0.000000

In [9]:
np.random.seed(None)

In [8]:
dataframe = pd.DataFrame.from_dict(sim.log)
dataframe

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,1,528,1683.541329,528.0,528.000000,0.000000,2211.541329,1683.541329,0
1,2,510,99.114333,1038.0,2211.541329,1173.541329,2310.655662,1272.655662,0
2,3,489,4.062022,1527.0,2310.655662,783.655662,2314.717684,787.717684,0
3,4,507,1412.332667,2034.0,2314.717684,280.717684,3727.050351,1693.050351,0
4,5,510,694.444558,2544.0,3727.050351,1183.050351,4421.494909,1877.494909,0
5,6,543,35.057683,3087.0,4421.494909,1334.494909,4456.552591,1369.552591,0

In [9]:
print('Average IAT:', np.sum(sim.log["IAT"])/sim.log["c"][-1])
print('Average ST:', np.sum(sim.log["ST"])/sim.log["c"][-1])

Average IAT: 514.5
Average ST: 654.7587652444208

In [10]:
# https://www.youtube.com/watch?v=nDXD8oVelo4
print('Total number of customers:', sim.log["c"][-1])
print('Average service time:', np.sum(sim.log["ST"])/sim.log["c"][-1])
print('Average time between arrivals:', np.sum(sim.log["IAT"])/(sim.log["c"][-1]-1))
print('')
print('Total waiting time:', np.sum(sim.log["TCWQ"]))
print('Average waiting time of all customers:', np.sum(sim.log["TCWQ"])/sim.log["c"][-1])
print('Average waiting time of customers that waited:', np.sum(sim.log["TCWQ"])/np.sum(np.array(sim.log["TCWQ"])!=0))
print('Probability that customers are waiting:', np.sum(np.array(sim.log["TCWQ"])!=0)/sim.log["c"][-1])
print('')
print('Total service time:', np.sum(sim.log["ST"]))
print('Average total time a customer spent in the system:', np.sum(sim.log["TCSS"])/sim.log["c"][-1])
print('Probability of idle server:', np.sum(sim.log["ITS"])/sim.log["TSE"][-1])

# deze klopt niet helemaal lijkt het
print('')
print('Server utilisation (%):', (np.sum(sim.log["ITS"])/np.sum(sim.log["TCSS"])/sim.log["c"][-1])*100)

Total number of customers: 6
Average service time: 654.7587652444208
Average time between arrivals: 617.4

Total waiting time: 4755.459935426712
Average waiting time of all customers: 792.576655904452
Average waiting time of customers that waited: 951.0919870853425
Probability that customers are waiting: 0.8333333333333334

Total service time: 3928.552591466525
Average total time a customer spent in the system: 1447.3354211250942
Probability of idle server: 0.0

Server utilisation (%): 0.0

In [11]:
dataframe = pd.DataFrame.from_dict(sim.log)
dataframe

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,1,528,1683.541329,528.0,528.000000,0.000000,2211.541329,1683.541329,0
1,2,510,99.114333,1038.0,2211.541329,1173.541329,2310.655662,1272.655662,0
2,3,489,4.062022,1527.0,2310.655662,783.655662,2314.717684,787.717684,0
3,4,507,1412.332667,2034.0,2314.717684,280.717684,3727.050351,1693.050351,0
4,5,510,694.444558,2544.0,3727.050351,1183.050351,4421.494909,1877.494909,0
5,6,543,35.057683,3087.0,4421.494909,1334.494909,4456.552591,1369.552591,0

In [12]:
dataframe = pd.DataFrame.from_dict(sim.log)
dataframe

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,1,528,1683.541329,528.0,528.000000,0.000000,2211.541329,1683.541329,0
1,2,510,99.114333,1038.0,2211.541329,1173.541329,2310.655662,1272.655662,0
2,3,489,4.062022,1527.0,2310.655662,783.655662,2314.717684,787.717684,0
3,4,507,1412.332667,2034.0,2314.717684,280.717684,3727.050351,1693.050351,0
4,5,510,694.444558,2544.0,3727.050351,1183.050351,4421.494909,1877.494909,0
5,6,543,35.057683,3087.0,4421.494909,1334.494909,4456.552591,1369.552591,0

In [13]:
# c = customer
# IAT = inter arrival time
# ST = service time
# AT = now + IAT
# TSB = time service begins
# TCWQ = time customer waits in the queue
# TSE = time service ends
# TCSS = time customer spends in the system
# ITS = idle time of the server

sim.return_log()

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,1,528,1683.541329,528.0,528.000000,0.000000,2211.541329,1683.541329,0
1,2,510,99.114333,1038.0,2211.541329,1173.541329,2310.655662,1272.655662,0
2,3,489,4.062022,1527.0,2310.655662,783.655662,2314.717684,787.717684,0
3,4,507,1412.332667,2034.0,2314.717684,280.717684,3727.050351,1693.050351,0
4,5,510,694.444558,2544.0,3727.050351,1183.050351,4421.494909,1877.494909,0
5,6,543,35.057683,3087.0,4421.494909,1334.494909,4456.552591,1369.552591,0

In [14]:
print('Avarage number of customers in the system:',sim.log["c"][-1]/sim.log["TSE"][-1])

Avarage number of customers in the system: 0.0013463321428498288

In [15]:
plt.hist(np.array(sim.log["IAT"]), 50)

NameError: name 'plt' is not defined

In [ ]:
stats.expon(scale=8)

In [ ]:
stats.poisson(1 / (c * rho)), mu=8)

In [ ]:
plt.hist(np.array(sim.log["ST"]), 50)

In [ ]:
*** M_M_1_inf_inf_FIFO ***
arrival rate: 8.0000 per hour
service rate: 9.0000 per hour
rho: 0.8889

P_0: probability that there are 0 customers in the system = 0.1111
P_1: probability of 1 customers in the system = 0.0988
P_10: probability of 10 customers in the system = 0.0342

no_q: probability that there is nobody in the queue (P_0+P_1) = 0.2099
util_sys: system utilisation rate  (P_(n>=1)) = 0.8889
util_ser: server utilisation rate (P_(n>=2)) = 0.7901

L_s: the long term average number of customers present in the system = 8.0000
L_q: the long term average number of customers present in the queue = 7.1111
W_s: the long term average waiting time in the system = 1.0000 hour (= 60.0 minutes)
W_q: the long term average waiting time in the queue = 0.8889 hour (= 53.3 minutes)

In [ ]:
average_service_time = np.sum(sim.log["ST"])

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 1)
x = np.linspace(stats.expon.ppf(0.01, scale=8),
                 stats.expon.ppf(0.99,scale=8), 100)
ax.plot(x, stats.expon.pdf(x),
        'r-', lw=5, alpha=0.6, label='expon pdf')

In [ ]:
/sim.log["c"][-1] - 1

In [ ]:
Average_waiting_time =

In [ ]:
c = 20

A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.9)))
S = queueing.service_process("M", stats.expon(0))
q = queueing.queue(A, S, c)

print("Mean waiting time:", q.mean_waiting_time)
print("Delay probability:", q.delay_probability)

In [ ]:
# https://www.win.tue.nl/~iadan/queueing.pdf Page 45, Table 5.1

import numpy as np

customers = [1, 2, 5, 10, 20]
delay_probability = [0.90, 0.85, 0.76, 0.67, 0.55]
mean_waiting_time = [9.00, 4.26, 1.53, 0.67, 0.28]

for i, c in enumerate(customers):

    # Arrival process varies dependent on number of customers
    A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.9)))

    # Mean service time is 1 unit of time
    S = queueing.service_process("M", stats.expon(0))

    # Create queue
    q = queueing.queue(A, S, c)
    
    
    print(q.kendall_notation)
    print("Utilization:      ", .9, q.utilization)
    print("Delay probability:", delay_probability[i], q.delay_probability)
    print("Mean waiting time:", mean_waiting_time[i], q.mean_waiting_time)
    print("")
    


    # Check results
    assert np.isclose(0.9, q.utilization, rtol = 0.1, atol = 0.1)
    assert np.isclose(delay_probability[i], q.delay_probability, rtol = 0.1, atol = 0.1)
    assert np.isclose(mean_waiting_time[i], q.mean_waiting_time, rtol = 0.1, atol = 0.1)

In [ ]:
# https://www.win.tue.nl/~iadan/queueing.pdf Page 45, Table 5.2

import numpy as np

customers = [1, 2, 5, 10, 20]
utilization = [0.90, 0.95, 0.98, 0.99, 0.995]
mean_waiting_time = [9.00, 9.26, 9.50, 9.64, 9.74]
mean_queue_length = [9, 19, 51, 105, 214]

for i, c in enumerate(customers):

    # Arrival process varies dependent on number of customers
    A = queueing.arrival_process("M", stats.poisson(1 / (c * utilization[i])))

    # Mean service time is 1 unit of time
    S = queueing.service_process("M", stats.expon(0))

    # Create queue
    q = queueing.queue(A, S, c)

    # Check results
    print(q.kendall_notation)
    print("Utilization:      ", utilization[i], q.utilization)
    print("Mean queue length:", mean_queue_length[i], q.mean_queue_length)
    print("Mean waiting time:", mean_waiting_time[i], q.mean_waiting_time)
    print("")
    
    
#     assert np.isclose(0.9, q.utilization, rtol = 0.1, atol = 0.1)
#     assert np.isclose(mean_queue_length[i], q.mean_queue_length, rtol = 0.1, atol = 0.1)
#     assert np.isclose(mean_waiting_time[i], q.mean_waiting_time, rtol = 0.2, atol = 0.2)

In [ ]:
# c = customer
# IAT = inter arrival time
# AT = now + IAT
# ST = service time
# TSB = time service begins
# TCWQ = time customer waits in the queue
# TSE = time service ends
# TCSS = time customer spends in the system
# ITS = idle time of the server


# customer, IAT, AT, ST, TSB, TCWQ, TSE, TCSS, ITS

In [ ]:
c = 2
A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.95)))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
sim = queueing.simulation(q)

In [ ]:
%%time
sim.simulate(50)

In [ ]:
sim.log

In [ ]:
print("Simulation results:")
sim.get_stats()

print("\n------------------------------------------\n")

print("Analytical solution:")
print("The arrival rate is:      {:04.2f} seconds".format(sim.environment.queue.A.arrival_rate))
print("The mean waiting time is: {:04.2f} seconds".format(sim.environment.queue.mean_waiting_time))
print("The mean service time is: {:04.2f} seconds".format(sim.environment.queue.S.mean_service_time))

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(data = sim.log)
df

In [ ]:
stats.poisson(1 / (c * 0.95)).rvs(10)

In [ ]:
import numpy as np
np.mean(stats.expon(0).rvs(10))

In [ ]:
print(np.mean(sim.log["In queue"]))
print(q.mean_queue_length)

In [ ]:
np.max(sim.log["In queue"])

### More complex queues

In [ ]:
c = 1
A = queueing.arrival_process("M", stats.poisson(1 / 0.9))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
print("Utilization:", q.utilization)
print("Mean wait:  ", q.mean_waiting_time)
print("Mean queue: ", q.mean_queue_length)

sim_q = q.mean_waiting_time * (1 / (1 / 0.9))
print("Mean queue: ", sim_q)

In [ ]:
c = 2
A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.95)))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
print("Utilization:", q.utilization)
print("Mean wait:  ", q.mean_waiting_time)
print("Mean queue: ", q.mean_queue_length)

sim_q = q.mean_waiting_time * (1 / (1 / (c * 0.95)))
print("Mean queue: ", sim_q)

In [ ]:
c = 5
A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.98)))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
print("Utilization:", q.utilization)
print("Mean wait:  ", q.mean_waiting_time)
print("Mean queue: ", q.mean_queue_length)

sim_q = q.mean_waiting_time * (1 / (1 / (c * 0.98)))
print("Mean queue: ", sim_q)