# Example notebook for queueing simulation

### 1. Imports

In [1]:
from scipy import stats

import pandas as pd
import numpy as np

import queueing

### 2. Prepare inputs

#### Specify the long term average IAT and ST in seconds

In [2]:
# arrivals and services
arrivals_per_hour = 8
services_per_hour = 9

# inter arrival times and service times
aver_IAT_in_secs = 3600/(8 - 1)
aver_ST_in_secs = 3600/(9 - 1)

# print values
print("aver_IAT_in_secs: {:.2f}".format(aver_IAT_in_secs))
print("aver_ST_in_secs: {:.2f}".format(aver_ST_in_secs))

aver_IAT_in_secs: 514.29
aver_ST_in_secs: 450.00

#### Define the queue object input

In [3]:
A = queueing.arrival_process("M", stats.poisson(mu = aver_IAT_in_secs))
S = queueing.service_process("M", stats.expon(scale = aver_ST_in_secs))
c = 1

#### Create the queue object and use it to create a simulating object

In [4]:
# todo: enable deterministic analyses by adding a list of 'customer_name#', 'interarrival#' and 'servicetime#'
q = queueing.queue(A, S, c)
sim = queueing.simulation(q)

### 3. Run the simulation

In [5]:
%%time
sim.run(10) # nr is the number of customers that will arrive at the server

*** Simulation finished in 1:35:50
Wall time: 2.62 ms

### 4. Analyse and visualise results

In [6]:
print('Accuracy:')
print('Difference Inter arrival time & Average IAT: {:.2f}'.format(aver_IAT_in_secs - np.sum(sim.log["IAT"])/sim.log["c"][-1]))
print('Difference Service time & Average ST: {:.2f}'.format(aver_ST_in_secs - np.sum(sim.log["ST"])/sim.log["c"][-1]))

Accuracy:
Difference Inter arrival time & Average IAT: 3.79
Difference Service time & Average ST: 82.42

#### Return log

In [7]:
sim.return_log()

,c,IAT,ST,AT,TSB,TSE,TCSS,TCWQ,ITS
0,1,486,478.711011,486.0,486.000000,964.711011,478.711011,0.000000,0.000000
1,2,507,312.409233,993.0,993.000000,1305.409233,312.409233,0.000000,28.288989
2,3,536,13.714972,1529.0,1529.000000,1542.714972,13.714972,0.000000,223.590767
3,4,505,1091.711543,2034.0,2034.000000,3125.711544,1091.711544,0.000000,491.285028
4,5,507,152.316069,2541.0,3125.711544,3278.027612,737.027612,584.711544,0.000000
5,6,504,2.962540,3045.0,3278.027612,3280.990152,235.990152,233.027612,0.000000
6,7,501,453.246087,3546.0,3546.000000,3999.246087,453.246087,0.000000,265.009848
7,8,522,428.054587,4068.0,4068.000000,4496.054587,428.054587,0.000000,68.753913
8,9,493,97.145171,4561.0,4561.000000,4658.145171,97.145171,0.000000,64.945413
9,10,544,645.490519,5105.0,5105.000000,5750.490520,645.490520,0.000000,446.854829

#### Get statistics

In [8]:
sim.get_stats()

Total number of customers: 10.00
Average service time: 367.58
Average time between arrivals: 567.22

Total waiting time: 817.74
Average waiting time of all customers: 81.77
Average waiting time of customers that waited: 408.87
Probability that customers are waiting: 0.20

Total service time: 3675.76
Average total time a customer spent in the system: 449.35
Probability of idle server: 0.28

Server utilisation (%): 3.5356147157830984

In [ ]:
*** M_M_1_inf_inf_FIFO ***
arrival rate: 8.0000 per hour
service rate: 9.0000 per hour
rho: 0.8889

P_0: probability that there are 0 customers in the system = 0.1111
P_1: probability of 1 customers in the system = 0.0988
P_10: probability of 10 customers in the system = 0.0342

no_q: probability that there is nobody in the queue (P_0+P_1) = 0.2099
util_sys: system utilisation rate  (P_(n>=1)) = 0.8889
util_ser: server utilisation rate (P_(n>=2)) = 0.7901

L_s: the long term average number of customers present in the system = 8.0000
L_q: the long term average number of customers present in the queue = 7.1111
W_s: the long term average waiting time in the system = 1.0000 hour (= 60.0 minutes)
W_q: the long term average waiting time in the queue = 0.8889 hour (= 53.3 minutes)

In [20]:
dataframe = pd.DataFrame.from_dict(sim.log)
dataframe

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,2,520,133.747252,1026.0,1026.0,0.0,1159.747252,133.747252,0.000000
1,2,506,831.198091,506.0,506.0,0.0,1337.198091,831.198091,0.000000
2,3,483,355.691929,1509.0,1509.0,0.0,1864.691929,355.691929,171.801909
3,4,511,186.090792,2020.0,2020.0,0.0,2206.090792,186.090792,155.308071
4,5,492,1698.312642,2512.0,2512.0,0.0,4210.312642,1698.312642,305.909208

In [21]:
dataframe = pd.DataFrame.from_dict(sim.log)
dataframe

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,2,520,133.747252,1026.0,1026.0,0.0,1159.747252,133.747252,0.000000
1,2,506,831.198091,506.0,506.0,0.0,1337.198091,831.198091,0.000000
2,3,483,355.691929,1509.0,1509.0,0.0,1864.691929,355.691929,171.801909
3,4,511,186.090792,2020.0,2020.0,0.0,2206.090792,186.090792,155.308071
4,5,492,1698.312642,2512.0,2512.0,0.0,4210.312642,1698.312642,305.909208

In [14]:
# c = customer
# IAT = inter arrival time
# ST = service time
# AT = now + IAT
# TSB = time service begins
# TCWQ = time customer waits in the queue
# TSE = time service ends
# TCSS = time customer spends in the system
# ITS = idle time of the server

sim.return_log()

,c,IAT,ST,AT,TSB,TCWQ,TSE,TCSS,ITS
0,1,534,192.523395,534,5.340000e+02,0.000000,7.265234e+02,192.523395,0.000000
1,2,522,1564.275978,1056,1.056000e+03,0.000000,2.620276e+03,1564.275978,329.476605
2,3,529,915.744379,1585,2.620276e+03,1035.275978,3.536020e+03,1951.020358,0.000000
3,4,517,259.714375,2102,3.536020e+03,1434.020358,3.795735e+03,1693.734733,0.000000
4,5,531,328.583368,2633,3.795735e+03,1162.734733,4.124318e+03,1491.318100,0.000000
5,6,502,190.718701,3135,4.124318e+03,989.318100,4.315037e+03,1180.036802,0.000000
6,7,555,273.247026,3690,4.315037e+03,625.036802,4.588284e+03,898.283828,0.000000
7,8,492,243.732677,4182,4.588284e+03,406.283828,4.832017e+03,650.016506,0.000000
8,9,501,372.971618,4683,4.832017e+03,149.016506,5.204988e+03,521.988123,0.000000
9,10,508,76.192065,5191,5.204988e+03,13.988123,5.281180e+03,90.180189,0.000000
10,11,516,804.631746,5707,5.707000e+03,0.000000,6.511632e+03,804.631746,425.819811
11,12,524,425.972901,6231,6.511632e+03,280.631746,6.937605e+03,706.604648,0.000000
12,13,578,57.849180,6809,6.937605e+03,128.604648,6.995454e+03,186.453828,0.000000
13,14,551,193.874242,7360,7.360000e+03,0.000000,7.553874e+03,193.874242,364.546172
14,15,514,703.751224,7874,7.874000e+03,0.000000,8.577751e+03,703.751224,320.125758
15,16,523,129.452046,8397,8.577751e+03,180.751224,8.707203e+03,310.203270,0.000000
16,17,487,205.701546,8884,8.884000e+03,0.000000,9.089702e+03,205.701546,176.796730
17,18,541,640.211591,9425,9.425000e+03,0.000000,1.006521e+04,640.211591,335.298454
18,19,538,838.091870,9963,1.006521e+04,102.211591,1.090330e+04,940.303461,0.000000
19,20,541,83.573192,10504,1.090330e+04,399.303461,1.098688e+04,482.876653,0.000000
20,21,494,250.021708,10998,1.099800e+04,0.000000,1.124802e+04,250.021708,11.123347
21,22,512,698.328306,11510,1.151000e+04,0.000000,1.220833e+04,698.328306,261.978292
22,23,532,10.816268,12042,1.220833e+04,166.328306,1.221914e+04,177.144575,0.000000
23,24,509,195.541861,12551,1.255100e+04,0.000000,1.274654e+04,195.541861,331.855425
24,25,545,188.642198,13096,1.309600e+04,0.000000,1.328464e+04,188.642198,349.458139
25,26,526,319.833515,13622,1.362200e+04,0.000000,1.394183e+04,319.833515,337.357802
26,27,478,916.347118,14100,1.410000e+04,0.000000,1.501635e+04,916.347118,158.166485
27,28,474,100.536035,14574,1.501635e+04,442.347118,1.511688e+04,542.883153,0.000000
28,29,506,48.108407,15080,1.511688e+04,36.883153,1.516499e+04,84.991561,0.000000
29,30,534,134.657933,15614,1.561400e+04,0.000000,1.574866e+04,134.657933,449.008439
...,...,...,...,...,...,...,...,...,...
9970,9971,517,181.047224,5129491,5.130050e+06,559.307593,5.130231e+06,740.354817,0.000000
9971,9972,539,398.262503,5130030,5.130231e+06,201.354817,5.130630e+06,599.617320,0.000000
9972,9973,533,1518.632237,5130563,5.130630e+06,66.617320,5.132148e+06,1585.249557,0.000000
9973,9974,491,644.060350,5131054,5.132148e+06,1094.249557,5.132792e+06,1738.309907,0.000000
9974,9975,507,325.893167,5131561,5.132792e+06,1231.309907,5.133118e+06,1557.203074,0.000000
9975,9976,506,409.024858,5132067,5.133118e+06,1051.203074,5.133527e+06,1460.227932,0.000000
9976,9977,523,227.095756,5132590,5.133527e+06,937.227932,5.133754e+06,1164.323688,0.000000
9977,9978,500,225.904961,5133090,5.133754e+06,664.323688,5.133980e+06,890.228649,0.000000
9978,9979,547,248.723443,5133637,5.133980e+06,343.228649,5.134229e+06,591.952092,0.000000
9979,9980,544,1075.355324,5134181,5.134229e+06,47.952092,5.135304e+06,1123.307416,0.000000
9980,9981,495,596.790665,5134676,5.135304e+06,628.307416,5.135901e+06,1225.098081,0.000000
9981,9982,504,240.335323,5135180,5.135901e+06,721.098081,5.136141e+06,961.433404,0.000000
9982,9983,540,329.509367,5135720,5.136141e+06,421.433404,5.136471e+06,750.942771,0.000000
9983,9984,493,246.190373,5136213,5.136471e+06,257.942771,5.136717e+06,504.133143,0.000000
9984,9985,477,31.168154,5136690,5.136717e+06,27.133143,5.136748e+06,58.301298,0.000000
9985,9986,510,649.795552,5137200,5.137200e+06,0.000000,5.137850e+06,649.795552,451.698702
9986,9987,538,192.608940,5137738,5.137850e+06,111.795552,5.138042e+06,304.404493,0.000000
9987,9988,510,171.078771,5138248,5.138248e+06,0.000000,5.138419e+06,171.078771,205.595507
9988,9989,515,34.836097,5138763,5.138763e+06,0.000000,5.138798e+06,34.836097,343.921229
9989,9990,497,603.035897,5139260,5.139260e+06,0.000000,5.139863e+06,603.035897,462.163903
9990,9991,529,24.210823,5139789,5.139863e+06,74.035897,5.139887e+06,98.246720,0.000000
9991,9992,478,453.987764,5140267,5.140267e+06,0.000000,5.140721e+06,453.987764,379.753280
9992,9993,512,290.145410,5140779,5.140779e+06,0.000000,5.141069e+06,290.145410,58.012236
9993,9994,535,158.757115,5141314,5.141314e+06,0.000000,5.141473e+06,158.757115,244.854590
9994,9995,511,138.539033,5141825,5.141825e+06,0.000000,5.141964e+06,138.539033,352.242885
9995,9996,541,479.070731,5142366,5.142366e+06,0.000000,5.142845e+06,479.070731,402.460967
9996,9997,528,276.785132,5142894,5.142894e+06,0.000000,5.143171e+06,276.785132,48.929269
9997,9998,520,177.550048,5143414,5.143414e+06,0.000000,5.143592e+06,177.550048,243.214868
9998,9999,536,113.825650,5143950,5.143950e+06,0.000000,5.144064e+06,113.825650,358.449952
9999,10000,516,370.639206,5144466,5.144466e+06,0.000000,5.144837e+06,370.639206,402.174350

In [ ]:
print('Avarage number of customers in the system:',sim.log["c"][-1]/sim.log["TSE"][-1])

In [ ]:
plt.hist(np.array(sim.log["IAT"]), 50)

In [ ]:
stats.expon(scale=8)

In [ ]:
stats.poisson(1 / (c * rho)), mu=8)

In [ ]:
plt.hist(np.array(sim.log["ST"]), 50)

In [ ]:
*** M_M_1_inf_inf_FIFO ***
arrival rate: 8.0000 per hour
service rate: 9.0000 per hour
rho: 0.8889

P_0: probability that there are 0 customers in the system = 0.1111
P_1: probability of 1 customers in the system = 0.0988
P_10: probability of 10 customers in the system = 0.0342

no_q: probability that there is nobody in the queue (P_0+P_1) = 0.2099
util_sys: system utilisation rate  (P_(n>=1)) = 0.8889
util_ser: server utilisation rate (P_(n>=2)) = 0.7901

L_s: the long term average number of customers present in the system = 8.0000
L_q: the long term average number of customers present in the queue = 7.1111
W_s: the long term average waiting time in the system = 1.0000 hour (= 60.0 minutes)
W_q: the long term average waiting time in the queue = 0.8889 hour (= 53.3 minutes)

In [ ]:
average_service_time = np.sum(sim.log["ST"])

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 1)
x = np.linspace(stats.expon.ppf(0.01, scale=8),
                 stats.expon.ppf(0.99,scale=8), 100)
ax.plot(x, stats.expon.pdf(x),
        'r-', lw=5, alpha=0.6, label='expon pdf')

In [ ]:
/sim.log["c"][-1] - 1

In [ ]:
Average_waiting_time =

In [ ]:
c = 20

A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.9)))
S = queueing.service_process("M", stats.expon(0))
q = queueing.queue(A, S, c)

print("Mean waiting time:", q.mean_waiting_time)
print("Delay probability:", q.delay_probability)

In [ ]:
# https://www.win.tue.nl/~iadan/queueing.pdf Page 45, Table 5.1

import numpy as np

customers = [1, 2, 5, 10, 20]
delay_probability = [0.90, 0.85, 0.76, 0.67, 0.55]
mean_waiting_time = [9.00, 4.26, 1.53, 0.67, 0.28]

for i, c in enumerate(customers):

    # Arrival process varies dependent on number of customers
    A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.9)))

    # Mean service time is 1 unit of time
    S = queueing.service_process("M", stats.expon(0))

    # Create queue
    q = queueing.queue(A, S, c)
    
    
    print(q.kendall_notation)
    print("Utilization:      ", .9, q.utilization)
    print("Delay probability:", delay_probability[i], q.delay_probability)
    print("Mean waiting time:", mean_waiting_time[i], q.mean_waiting_time)
    print("")
    


    # Check results
    assert np.isclose(0.9, q.utilization, rtol = 0.1, atol = 0.1)
    assert np.isclose(delay_probability[i], q.delay_probability, rtol = 0.1, atol = 0.1)
    assert np.isclose(mean_waiting_time[i], q.mean_waiting_time, rtol = 0.1, atol = 0.1)

In [ ]:
# https://www.win.tue.nl/~iadan/queueing.pdf Page 45, Table 5.2

import numpy as np

customers = [1, 2, 5, 10, 20]
utilization = [0.90, 0.95, 0.98, 0.99, 0.995]
mean_waiting_time = [9.00, 9.26, 9.50, 9.64, 9.74]
mean_queue_length = [9, 19, 51, 105, 214]

for i, c in enumerate(customers):

    # Arrival process varies dependent on number of customers
    A = queueing.arrival_process("M", stats.poisson(1 / (c * utilization[i])))

    # Mean service time is 1 unit of time
    S = queueing.service_process("M", stats.expon(0))

    # Create queue
    q = queueing.queue(A, S, c)

    # Check results
    print(q.kendall_notation)
    print("Utilization:      ", utilization[i], q.utilization)
    print("Mean queue length:", mean_queue_length[i], q.mean_queue_length)
    print("Mean waiting time:", mean_waiting_time[i], q.mean_waiting_time)
    print("")
    
    
#     assert np.isclose(0.9, q.utilization, rtol = 0.1, atol = 0.1)
#     assert np.isclose(mean_queue_length[i], q.mean_queue_length, rtol = 0.1, atol = 0.1)
#     assert np.isclose(mean_waiting_time[i], q.mean_waiting_time, rtol = 0.2, atol = 0.2)

In [ ]:
# c = customer
# IAT = inter arrival time
# AT = now + IAT
# ST = service time
# TSB = time service begins
# TCWQ = time customer waits in the queue
# TSE = time service ends
# TCSS = time customer spends in the system
# ITS = idle time of the server


# customer, IAT, AT, ST, TSB, TCWQ, TSE, TCSS, ITS

In [ ]:
c = 2
A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.95)))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
sim = queueing.simulation(q)

In [ ]:
%%time
sim.simulate(50)

In [ ]:
sim.log

In [ ]:
print("Simulation results:")
sim.get_stats()

print("\n------------------------------------------\n")

print("Analytical solution:")
print("The arrival rate is:      {:04.2f} seconds".format(sim.environment.queue.A.arrival_rate))
print("The mean waiting time is: {:04.2f} seconds".format(sim.environment.queue.mean_waiting_time))
print("The mean service time is: {:04.2f} seconds".format(sim.environment.queue.S.mean_service_time))

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(data = sim.log)
df

In [ ]:
stats.poisson(1 / (c * 0.95)).rvs(10)

In [ ]:
import numpy as np
np.mean(stats.expon(0).rvs(10))

In [ ]:
print(np.mean(sim.log["In queue"]))
print(q.mean_queue_length)

In [ ]:
np.max(sim.log["In queue"])

### More complex queues

In [ ]:
c = 1
A = queueing.arrival_process("M", stats.poisson(1 / 0.9))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
print("Utilization:", q.utilization)
print("Mean wait:  ", q.mean_waiting_time)
print("Mean queue: ", q.mean_queue_length)

sim_q = q.mean_waiting_time * (1 / (1 / 0.9))
print("Mean queue: ", sim_q)

In [ ]:
c = 2
A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.95)))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
print("Utilization:", q.utilization)
print("Mean wait:  ", q.mean_waiting_time)
print("Mean queue: ", q.mean_queue_length)

sim_q = q.mean_waiting_time * (1 / (1 / (c * 0.95)))
print("Mean queue: ", sim_q)

In [ ]:
c = 5
A = queueing.arrival_process("M", stats.poisson(1 / (c * 0.98)))
S = queueing.service_process("M", stats.expon(0))

q = queueing.queue(A, S, c)
print("Utilization:", q.utilization)
print("Mean wait:  ", q.mean_waiting_time)
print("Mean queue: ", q.mean_queue_length)

sim_q = q.mean_waiting_time * (1 / (1 / (c * 0.98)))
print("Mean queue: ", sim_q)