In [21]:
%%time
if __name__ == '__main__': # protect your program's entry point
    
    import pandas as pd
    import numpy as np
    import openqtsim

    from multiprocessing import Pool
    from queueing_engine import worker, Task

    # select nr of servers
    nr_servers = 10
    servers =  np.array(range(1, nr_servers + 1))

    # labda is selected to be ranging from .1 to .9
    lams = np.array(range(1,10))

    # mu is selected depending on the nr of servers to always be 10 
    mu = 10/nr_servers

    # lambda divided by (mu * nr_servers) provides the utilisations
    utilisations = lams / (mu * nr_servers)

    # every instance will be run with nr_arr number of customers
    nr_arr = 500

    mu=10

    # # initialise dataframe
    # df = pd.DataFrame(index=utilisations, columns=servers)

    # tasks = [Task(1, 2),Task(3, 4)]
    tasks=[]
    # one by one fill the dataframe
    for index, lam in enumerate(lams):
        for server in servers:
            tasks.append(Task(lam, mu, server, nr_arr))

    p = Pool(5)
    result = p.map(worker, tasks)
    p.close()

Wall time: 8.52 s

In [22]:
print('MT', result)

MT [0.14032611749303256, 0.01064536532347429, 0.0017634932200896113, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.21745454440600148, 0.053546051325893115, 0.008057194555219324, 0.0006513608721796019, 0.0003960752993481258, 0.00019491561709201636, 0.0, 0.0, 0.0, 0.0, 0.2863134784001752, 0.05008137672865636, 0.028949827761312955, 0.011767352235027565, 0.0006581143982714005, 0.002487065171335919, 0.0032024314000968263, 0.0, 0.0031907217039310876, 0.0002339563709497519, 0.7914152145880856, 0.16145923909162913, 0.054071495844552155, 0.03571091255675949, 0.011343322623024328, 0.0308149295788401, 0.0015769154031627737, 0.0025462851692602683, 0.0038580217530178595, 0.00016124234783188948, 0.7766999765210763, 0.21537238946150059, 0.12636592990428894, 0.06521907499682487, 0.018632297622110654, 0.034783417660829596, 0.017721198051783845, 0.004460618641852778, 0.003217549529548209, 0.02024376171298685, 1.0567784194099021, 0.7445460234552727, 0.2623000028361006, 0.17545717483740988, 0.1107811748064952, 0.055346735680761795, 0.09123018606678486, 0.022054982301669905, 0.04257240985264191, 0.05357078254830728, 2.114624302391986, 0.9984902651755603, 0.33334071651435015, 0.341328941264971, 0.22243001861448475, 0.07759669181623755, 0.05105852000611573, 0.1273352857811227, 0.10040487095611986, 0.04591466979494682, 3.4701621754079772, 1.6958354502657507, 0.6658345008634785, 1.6780611371592946, 0.19400138501235284, 0.36924485092536924, 0.27379984493372256, 0.25699425779513035, 0.12866927573744738, 0.3085714426169616, 11.151919886245894, 2.113030406490483, 1.6018718794000777, 3.7192730784352603, 1.366598745445409, 1.5260338497295132, 0.1472140097911547, 0.5346261692259957, 1.2266120042284478, 0.5128352192866993]

In [26]:
df = pd.DataFrame(tasks)
df['a'] = result
df['utilisation'] = df.lam / df.mu

In [27]:
df.pivot('utilisation', 'server',values='a')

server,1,2,3,4,5,6,7,8,9,10
utilisation,,,,,,,,,,
0.1,0.140326,0.010645,0.001763,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.2,0.217455,0.053546,0.008057,0.000651,0.000396,0.000195,0.000000,0.000000,0.000000,0.000000
0.3,0.286313,0.050081,0.028950,0.011767,0.000658,0.002487,0.003202,0.000000,0.003191,0.000234
0.4,0.791415,0.161459,0.054071,0.035711,0.011343,0.030815,0.001577,0.002546,0.003858,0.000161
0.5,0.776700,0.215372,0.126366,0.065219,0.018632,0.034783,0.017721,0.004461,0.003218,0.020244
0.6,1.056778,0.744546,0.262300,0.175457,0.110781,0.055347,0.091230,0.022055,0.042572,0.053571
0.7,2.114624,0.998490,0.333341,0.341329,0.222430,0.077597,0.051059,0.127335,0.100405,0.045915
0.8,3.470162,1.695835,0.665835,1.678061,0.194001,0.369245,0.273800,0.256994,0.128669,0.308571
0.9,11.151920,2.113030,1.601872,3.719273,1.366599,1.526034,0.147214,0.534626,1.226612,0.512835