# Queueing theory - M/M/1 example

### 1. Imports

In [1]:
import openqtsim

### 2. Prepare inputs

In [2]:
# Basic input
t_scale = 1 # 1: hours, 60: minutes, 3600: seconds, etc
Lambda = 8
Mu = 9

In [3]:
# Create Arrival and Service processes and specify the number of servers
A = openqtsim.ArrivalProcess("M", arr_rate=Lambda, t_scale=t_scale)
S = openqtsim.ServiceProcess("M", srv_rate=Mu, t_scale=t_scale)
c = 1

In [4]:
# Create the queue object and use it to create a simulating object
q = openqtsim.Queue(A, S, c)

### 3. Run the simulation

In [5]:
# set stop limits
tol = 0.00001
max_arr = 10000

In [6]:
%%time
print('Start simulation of "{}" queue'.format(q.kendall_notation))
print('')

sim = openqtsim.Simulation(q, t_scale=t_scale, seed=1)
sim.run(max_arr=max_arr, IAT_tol=tol, ST_tol=tol)

Start simulation of "M/M/1/inf/inf/FIFO" queue

Nr of customers: 10000
Accuracy IAT: 0.00040783825249190997
Tolerance: 1e-05
Accuracy ST: 8.785942589753515e-05
Tolerance: 1e-05

Wall time: 11.3 s

In [7]:
sim.get_stats()

Waiting time over service time: 6.4438

Waiting time (for customers that waited) over service time: 7.2280

Waiting time (for customers that waited) over service time (for customers that waited): 7.2071

Rho: system utilisation: 0.8906

P_0: probability nobody in the system: 0.1094

W_s: the long term average time spent in the system: 0.8262

W_q: the long term average time spent in the queue: 0.8022

**Analytical solution: M_M_1_inf_inf_FIFO**

    arrival rate: 8.0000 per hour
    service rate: 9.0000 per hour
    rho: 0.8889

    P_0: probability that there are 0 customers in the system = 0.1111
    P_1: probability of 1 customers in the system = 0.0988
    P_10: probability of 10 customers in the system = 0.0342

    no_q: probability that there is nobody in the queue (P_0+P_1) = 0.2099
    util_sys: system utilisation rate  (P_(n>=1)) = 0.8889
    util_ser: server utilisation rate (P_(n>=2)) = 0.7901

    L_s: the long term average number of customers present in the system = 8.0000
    L_q: the long term average number of customers present in the queue = 7.1111
    W_s: the long term average time spent in the system = 1.0000 hour (= 60.0 minutes)
    W_q: the long term average waiting time in the queue = 0.8889 hour (= 53.3 minutes)

In [8]:
sim.return_log()
# c = customer
# IAT = inter arrival time
# ST = service time
# AT = arrival time
# TSB = time service begins
# TSE = time service ends
# TCSS = time customer spends in the system
# TCWQ = time customer waits in the queue
# ITS = idle time of the server
# QL = queue length

,c_id,IAT,ST,AT,TSB,TSE,TCSS,TCWQ,ITS,QL
0,1,0.067451,0.000013,0.067451,0.067451,0.067463,0.000013,0.000000,0.067451,0
1,2,0.159266,0.017634,0.226717,0.226717,0.244351,0.017634,0.000000,0.159253,0
2,3,0.045002,0.022902,0.271718,0.271718,0.294620,0.022902,0.000000,0.027367,1
3,4,0.012110,0.056161,0.283828,0.294620,0.350781,0.066952,0.010791,0.000000,1
4,5,0.052997,0.060371,0.336826,0.350781,0.411152,0.074326,0.013955,0.000000,0
5,6,0.096745,0.025414,0.433571,0.433571,0.458984,0.025414,0.000000,0.022419,0
6,7,0.144485,0.003086,0.578056,0.578056,0.581141,0.003086,0.000000,0.119071,0
7,8,0.263087,0.060010,0.841143,0.841143,0.901153,0.060010,0.000000,0.260002,0
8,9,0.138760,0.016808,0.979903,0.979903,0.996711,0.016808,0.000000,0.078750,0
9,10,0.102251,0.179241,1.082154,1.082154,1.261395,0.179241,0.000000,0.085443,1
10,11,0.027597,0.041782,1.109751,1.261395,1.303177,0.193426,0.151644,0.000000,0
11,12,0.431278,0.232291,1.541029,1.541029,1.773320,0.232291,0.000000,0.237852,1
12,13,0.147338,0.009876,1.688367,1.773320,1.783195,0.094828,0.084953,0.000000,0
13,14,0.281257,0.020681,1.969624,1.969624,1.990304,0.020681,0.000000,0.186429,1
14,15,0.004980,0.011503,1.974604,1.990304,2.001807,0.027204,0.015701,0.000000,0
15,16,0.263113,0.351940,2.237716,2.237716,2.589656,0.351940,0.000000,0.235909,3
16,17,0.068330,0.128884,2.306046,2.589656,2.718541,0.412494,0.283610,0.000000,3
17,18,0.095223,0.002051,2.401269,2.718541,2.720592,0.319323,0.317272,0.000000,2
18,19,0.147157,0.154097,2.548426,2.720592,2.874688,0.326262,0.172166,0.000000,2
19,20,0.047386,0.153220,2.595812,2.874688,3.027909,0.432097,0.278876,0.000000,1
20,21,0.224943,0.036569,2.820755,3.027909,3.064478,0.243723,0.207154,0.000000,0
21,22,0.562164,0.012106,3.382919,3.382919,3.395025,0.012106,0.000000,0.318441,0
22,23,0.194653,0.265829,3.577572,3.577572,3.843400,0.265829,0.000000,0.182547,5
23,24,0.074252,0.026421,3.651824,3.843400,3.869821,0.217998,0.191577,0.000000,4
24,25,0.043449,0.034292,3.695273,3.869821,3.904113,0.208840,0.174548,0.000000,4
25,26,0.042420,0.006093,3.737693,3.904113,3.910206,0.172513,0.166420,0.000000,3
26,27,0.017412,0.094844,3.755105,3.910206,4.005050,0.249945,0.155102,0.000000,4
27,28,0.002445,0.133685,3.757549,4.005050,4.138735,0.381186,0.247501,0.000000,5
28,29,0.141975,0.131720,3.899524,4.138735,4.270455,0.370931,0.239211,0.000000,7
29,30,0.084554,0.121115,3.984079,4.270455,4.391570,0.407491,0.286376,0.000000,7
...,...,...,...,...,...,...,...,...,...,...
9970,9971,0.155177,0.015504,1243.016886,1243.652740,1243.668244,0.651359,0.635854,0.000000,12
9971,9972,0.027610,0.085656,1243.044495,1243.668244,1243.753900,0.709405,0.623749,0.000000,12
9972,9973,0.115759,0.302217,1243.160254,1243.753900,1244.056117,0.895863,0.593646,0.000000,13
9973,9974,0.037308,0.222863,1243.197562,1244.056117,1244.278980,1.081419,0.858555,0.000000,13
9974,9975,0.014209,0.074386,1243.211770,1244.278980,1244.353367,1.141596,1.067210,0.000000,12
9975,9976,0.012778,0.172120,1243.224549,1244.353367,1244.525486,1.300938,1.128818,0.000000,13
9976,9977,0.090672,0.071039,1243.315221,1244.525486,1244.596525,1.281305,1.210266,0.000000,13
9977,9978,0.037966,0.049196,1243.353186,1244.596525,1244.645722,1.292535,1.243339,0.000000,12
9978,9979,0.034975,0.081364,1243.388161,1244.645722,1244.727085,1.338924,1.257560,0.000000,12
9979,9980,0.035977,0.005714,1243.424138,1244.727085,1244.732799,1.308661,1.302947,0.000000,11
9980,9981,0.056539,0.005314,1243.480678,1244.732799,1244.738113,1.257435,1.252122,0.000000,10
9981,9982,0.016202,0.027852,1243.496879,1244.738113,1244.765965,1.269085,1.241234,0.000000,9
9982,9983,0.048444,0.021675,1243.545323,1244.765965,1244.787639,1.242316,1.220642,0.000000,8
9983,9984,0.162075,0.140072,1243.707398,1244.787639,1244.927711,1.220313,1.080241,0.000000,7
9984,9985,0.169109,0.049626,1243.876508,1244.927711,1244.977337,1.100830,1.051204,0.000000,7
9985,9986,0.038580,0.018647,1243.915088,1244.977337,1244.995984,1.080896,1.062249,0.000000,6
9986,9987,0.299373,0.142037,1244.214460,1244.995984,1245.138021,0.923561,0.781524,0.000000,6
9987,9988,0.207080,0.239393,1244.421540,1245.138021,1245.377414,0.955874,0.716481,0.000000,6
9988,9989,0.043613,0.004241,1244.465153,1245.377414,1245.381656,0.916502,0.912261,0.000000,5
9989,9990,0.105567,0.170810,1244.570720,1245.381656,1245.552465,0.981745,0.810935,0.000000,4
9990,9991,0.126161,0.008598,1244.696881,1245.552465,1245.561063,0.864182,0.855584,0.000000,3
9991,9992,0.248665,0.149497,1244.945547,1245.561063,1245.710561,0.765014,0.615517,0.000000,5
9992,9993,0.051804,0.080486,1244.997351,1245.710561,1245.791047,0.793696,0.713210,0.000000,5
9993,9994,0.176717,0.144245,1245.174068,1245.791047,1245.935292,0.761224,0.616979,0.000000,4
9994,9995,0.396182,0.077339,1245.570250,1245.935292,1246.012631,0.442381,0.365042,0.000000,5
9995,9996,0.043462,0.021367,1245.613712,1246.012631,1246.033998,0.420286,0.398919,0.000000,4
9996,9997,0.078916,0.067106,1245.692628,1246.033998,1246.101104,0.408475,0.341370,0.000000,3
9997,9998,0.076522,0.005138,1245.769150,1246.101104,1246.106241,0.337091,0.331953,0.000000,2
9998,9999,0.217832,0.132496,1245.986982,1246.106241,1246.238738,0.251756,0.119260,0.000000,1
9999,10000,0.006721,0.039574,1245.993703,1246.238738,1246.278312,0.284609,0.245035,0.000000,0

#### Plot IAT and ST

In [9]:
import matplotlib.pyplot as plt
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(20, 12))

fig.suptitle('Overview of stochastic variables')
ax1.hist(sim.log["IAT"],1000); ax1.set_title('IAT');
ax2.hist(sim.log["ST"],1000); ax2.set_title('ST');

## Sandbox

### Simpel queue simulator

In [10]:
from scipy import stats
import numpy as np
import pandas as pd

In [11]:
def get_IAT_and_ST(lam, mu, nr_arr, seed):# generate list of inter arrival times
    
    rv_iat = stats.expon(scale = 1/lam)
    rv_st = stats.expon(scale = 1/mu)
    
    # generate list of inter arrival times
    np.random.seed(seed)
    IAT = rv_iat.rvs(nr_arr)

    # generate list of service times
    np.random.seed(seed)
    ST = rv_st.rvs(nr_arr)
    
    return IAT, ST

In [12]:
def calculate_MM1(IAT, ST):
    
    df = pd.DataFrame()
    AT = []
    TSB = []
    TSE = []
    TCSS = []
    TCWQ = []
    ITS = []
    
    for i in range(len(IAT)):
        # AT
        if i == 0:
            AT.append(IAT[i])  # time starts at 0 and the first arrival arrives at 0 + IAT
        else:
            AT.append(AT[i-1]+IAT[i])  # next arrivals start at the previous arrival AT[i-1] + IAT
        # TSB
        if i == 0:
            TSB.append(AT[i])  # first arrival the queue is empty so service begins as soon as customer arrives
        else:
            TSB.append(np.max([AT[i], TSE[i-1]]))
        # TSE
        TSE.append(TSB[i]+ST[i])   # moment service begins plus service time
        # TCSS
        TCSS.append(TSE[i]-AT[i])  # moment of arrival until service ends
        # TCWQ
        TCWQ.append(TSB[i]-AT[i])  # moment of arrival until service begins
        # ITS
        if i == 0:
            ITS.append(IAT[i])  # the server will start idle until the first arrival
        else:
            ITS.append(np.max([AT[i]-TSE[i-1], 0]))  # todo: I don't think this works with multiple servers

    # Add lists to dataframe
    df["IAT"]=IAT
    df["ST"]=ST
    df["AT"]=AT
    df["TSB"]=TSB
    df["TSE"]=TSE
    df["TCSS"]=TCSS
    df["TCWQ"]=TCWQ
    df["ITS"]=ITS
    
    return df

In [115]:
def get_stats(df):
    # this should be the right one
    value = np.mean(df["TCWQ"]) / np.mean(df["ST"]) 
    print('Waiting time over service time: {:.4f}'.format(value))
    print('')

    # OK
    value = (df["TSE"].iloc[-1] - np.sum(df["ITS"])) / df["TSE"].iloc[-1]
    print('Rho: system utilisation: {:.4f}'.format(value))
    print('')

    # OK
    value = np.sum(df["ITS"]) / df["TSE"].iloc[-1]
    print('P_0: probability nobody in the system: {:.4f}'.format(value))

    value = np.mean(df[df["TCSS"] != 0]["TCSS"])
    print('W_s: the long term average time spent in the system: {:.4f}'.format(value))
    value = np.sum(df["TCSS"])/len(df["TCSS"])
    print('W_s: the long term average time spent in the system: {:.4f}'.format(value))


    value = np.mean(df[df["TCWQ"] != 0]["TCWQ"])
    print('W_q: the long term average time spent in the queue: {:.4f}'.format(value))
    value =  np.sum(df["TCWQ"])/len(df["TCWQ"])
    print('W_q: the long term average time spent in the queue: {:.4f}'.format(value))
    print('')

    value =  np.sum(df[df["TCWQ"] != 0]["TCWQ"])/(np.sum(df["TCWQ"] != 0))
    print('W_time: the long term average waiting time per customer: {:.4f}'.format(value))
    print('')

    value = df["AT"].iloc[-1]/(len(df["ST"])-1)
    print('IAT: average inter arrival time: {:.4f}'.format(value))

    value = np.sum(df["ST"])/(len(df["ST"]))
    print('ST: average service time: {:.4f}'.format(value))
    print('')

### Small test M/M/1 queue simulator

In [116]:
IAT, ST = get_IAT_and_ST(8, 10, 1000, seed = None)
df = calculate_MM1(IAT, ST)
get_stats(df)
print("IAT: {:.4f}".format(1/8))
print("ST: {:.4f}".format(1/9))
df.head(10)

Waiting time over service time: 3.0283

Rho: system utilisation: 0.8023

P_0: probability nobody in the system: 0.1977
W_s: the long term average time spent in the system: 0.4060
W_s: the long term average time spent in the system: 0.4060
W_q: the long term average time spent in the queue: 0.3834
W_q: the long term average time spent in the queue: 0.3052

W_time: the long term average waiting time per customer: 0.3834

IAT: average inter arrival time: 0.1252
ST: average service time: 0.1008

IAT: 0.1250
ST: 0.1111

,IAT,ST,AT,TSB,TSE,TCSS,TCWQ,ITS
0,0.072515,0.072181,0.072515,0.072515,0.144696,0.072181,0.000000,0.072515
1,0.374094,0.070368,0.446609,0.446609,0.516977,0.070368,0.000000,0.301913
2,0.091853,0.211635,0.538463,0.538463,0.750097,0.211635,0.000000,0.021486
3,0.128858,0.154627,0.667321,0.750097,0.904725,0.237404,0.082776,0.000000
4,0.004138,0.007445,0.671459,0.904725,0.912170,0.240711,0.233266,0.000000
5,0.079882,0.092678,0.751341,0.912170,1.004848,0.253507,0.160829,0.000000
6,0.296152,0.039268,1.047493,1.047493,1.086761,0.039268,0.000000,0.042645
7,0.044032,0.293294,1.091525,1.091525,1.384819,0.293294,0.000000,0.004764
8,0.045129,0.068869,1.136654,1.384819,1.453688,0.317034,0.248165,0.000000
9,0.078683,0.328087,1.215336,1.453688,1.781775,0.566439,0.238351,0.000000

**Analytical solution: M_M_1_inf_inf_FIFO**

    arrival rate: 8.0000 per hour
    service rate: 9.0000 per hour
    rho: 0.8889

    P_0: probability that there are 0 customers in the system = 0.1111
    P_1: probability of 1 customers in the system = 0.0988
    P_10: probability of 10 customers in the system = 0.0342

    no_q: probability that there is nobody in the queue (P_0+P_1) = 0.2099
    util_sys: system utilisation rate  (P_(n>=1)) = 0.8889
    util_ser: server utilisation rate (P_(n>=2)) = 0.7901

    L_s: the long term average number of customers present in the system = 8.0000
    L_q: the long term average number of customers present in the queue = 7.1111
    W_s: the long term average time spent in the system = 1.0000 hour (= 60.0 minutes)
    W_q: the long term average waiting time in the queue = 0.8889 hour (= 53.3 minutes)

In [15]:
df

,IAT,ST,AT,TSB,TSE,TCSS,TCWQ,ITS
0,0.071586,0.063632,0.071586,0.071586,0.135219,0.063632,0.000000,0.071586
1,0.003284,0.002919,0.074870,0.135219,0.138138,0.063268,0.060349,0.000000
2,0.099720,0.088640,0.174590,0.174590,0.263230,0.088640,0.000000,0.036452
3,0.071438,0.063500,0.246027,0.263230,0.326730,0.080702,0.017202,0.000000
4,0.068170,0.060596,0.314197,0.326730,0.387325,0.073128,0.012532,0.000000
5,0.050122,0.044553,0.364320,0.387325,0.431878,0.067559,0.023006,0.000000
6,0.028621,0.025441,0.392941,0.431878,0.457320,0.064379,0.038937,0.000000
7,0.120708,0.107296,0.513650,0.513650,0.620946,0.107296,0.000000,0.056330
8,0.044523,0.039576,0.558172,0.620946,0.660522,0.102349,0.062774,0.000000
9,0.038797,0.034486,0.596969,0.660522,0.695008,0.098039,0.063553,0.000000
10,0.121322,0.107841,0.718291,0.718291,0.826132,0.107841,0.000000,0.023283
11,0.094150,0.083689,0.812440,0.826132,0.909821,0.097380,0.013691,0.000000
12,0.018068,0.016060,0.830508,0.909821,0.925881,0.095373,0.079313,0.000000
13,0.090085,0.080075,0.920593,0.925881,1.005956,0.085363,0.005288,0.000000
14,0.025485,0.022653,0.946078,1.005956,1.028609,0.082532,0.059878,0.000000
15,0.192335,0.170964,1.138412,1.138412,1.309377,0.170964,0.000000,0.109803
16,0.240497,0.213775,1.378910,1.378910,1.592685,0.213775,0.000000,0.069533
17,0.085211,0.075743,1.464121,1.592685,1.668428,0.204308,0.128565,0.000000
18,0.234307,0.208273,1.698428,1.698428,1.906700,0.208273,0.000000,0.029999
19,0.010375,0.009222,1.708802,1.906700,1.915922,0.207120,0.197898,0.000000
20,0.087962,0.078188,1.796764,1.915922,1.994111,0.197347,0.119158,0.000000
21,0.008439,0.007502,1.805203,1.994111,2.001612,0.196409,0.188907,0.000000
22,0.069854,0.062092,1.875057,2.001612,2.063705,0.188647,0.126555,0.000000
23,0.012689,0.011279,1.887746,2.063705,2.074984,0.187237,0.175958,0.000000
24,0.017000,0.015111,1.904747,2.074984,2.090095,0.185348,0.170237,0.000000
25,0.113523,0.100910,2.018270,2.090095,2.191005,0.172735,0.071825,0.000000
26,0.032025,0.028467,2.050295,2.191005,2.219471,0.169176,0.140710,0.000000
27,0.014138,0.012568,2.064433,2.219471,2.232039,0.167606,0.155038,0.000000
28,0.031107,0.027650,2.095540,2.232039,2.259689,0.164149,0.136499,0.000000
29,0.053814,0.047835,2.149355,2.259689,2.307524,0.158170,0.110335,0.000000
...,...,...,...,...,...,...,...,...
99970,0.063623,0.056554,12481.285385,12481.516158,12481.572712,0.287327,0.230772,0.000000
99971,0.230752,0.205113,12481.516137,12481.572712,12481.777824,0.261687,0.056575,0.000000
99972,0.014886,0.013232,12481.531023,12481.777824,12481.791056,0.260033,0.246801,0.000000
99973,0.100359,0.089208,12481.631382,12481.791056,12481.880265,0.248882,0.159674,0.000000
99974,0.062662,0.055700,12481.694044,12481.880265,12481.935964,0.241920,0.186220,0.000000
99975,0.231459,0.205741,12481.925503,12481.935964,12482.141705,0.216202,0.010461,0.000000
99976,0.187332,0.166517,12482.112834,12482.141705,12482.308222,0.195388,0.028871,0.000000
99977,0.102784,0.091364,12482.215618,12482.308222,12482.399586,0.183967,0.092604,0.000000
99978,0.086064,0.076501,12482.301683,12482.399586,12482.476087,0.174405,0.097903,0.000000
99979,0.066428,0.059047,12482.368111,12482.476087,12482.535134,0.167024,0.107976,0.000000
99980,0.046194,0.041061,12482.414305,12482.535134,12482.576196,0.161891,0.120830,0.000000
99981,0.632645,0.562351,12483.046950,12483.046950,12483.609301,0.562351,0.000000,0.470754
99982,0.077870,0.069218,12483.124820,12483.609301,12483.678519,0.553699,0.484481,0.000000
99983,0.033201,0.029512,12483.158021,12483.678519,12483.708031,0.550010,0.520498,0.000000
99984,0.044304,0.039382,12483.202325,12483.708031,12483.747413,0.545087,0.505706,0.000000
99985,0.271240,0.241102,12483.473565,12483.747413,12483.988515,0.514950,0.273848,0.000000
99986,0.142274,0.126466,12483.615839,12483.988515,12484.114980,0.499141,0.372676,0.000000
99987,0.002628,0.002336,12483.618467,12484.114980,12484.117317,0.498849,0.496513,0.000000
99988,0.061504,0.054670,12483.679971,12484.117317,12484.171987,0.492016,0.437345,0.000000
99989,0.511659,0.454808,12484.191631,12484.191631,12484.646439,0.454808,0.000000,0.019644
99990,0.017346,0.015419,12484.208977,12484.646439,12484.661858,0.452881,0.437462,0.000000
99991,0.004431,0.003939,12484.213409,12484.661858,12484.665797,0.452388,0.448449,0.000000
99992,0.008917,0.007926,12484.222326,12484.665797,12484.673724,0.451398,0.443471,0.000000
99993,0.401892,0.357237,12484.624218,12484.673724,12485.030961,0.406743,0.049506,0.000000
99994,0.026108,0.023207,12484.650326,12485.030961,12485.054168,0.403842,0.380635,0.000000
99995,0.041139,0.036568,12484.691465,12485.054168,12485.090736,0.399271,0.362703,0.000000
99996,0.724785,0.644253,12485.416250,12485.416250,12486.060504,0.644253,0.000000,0.325514
99997,0.068196,0.060618,12485.484446,12486.060504,12486.121122,0.636676,0.576058,0.000000
99998,0.046002,0.040891,12485.530448,12486.121122,12486.162013,0.631565,0.590674,0.000000
99999,0.255262,0.226900,12485.785710,12486.162013,12486.388913,0.603202,0.376302,0.000000

### Small test D//D/1 queue simulator

In [45]:
# simple example for testing
import pandas as pd
IAT=[2,2,2,2,2,2,2,2]
ST= [3,1,3,1,3,1,3,1]

df = pd.DataFrame()
df["IAT"]=IAT
df["ST"]=ST

In [84]:
# example from youtube
import pandas as pd
IAT=[0,8,6,1,8,3,8,7,2,3]
ST= [4,1,4,3,2,4,5,4,5,3]

df = pd.DataFrame()
df["IAT"]=IAT
df["ST"]=ST

In [43]:
import openqtsim
import pandas as pd
import xlrd

In [44]:
df = pd.read_excel('Queueing theory - D D 1 example.xlsx', index_col=None, header=0, sheet_name='data')
IAT = df["IAT"]
ST = df["ST"]

In [18]:
# df = sim.return_log()
# IAT = df["IAT"]
# ST = df["ST"]

In [88]:
df = calculate_MM1(IAT, ST)
get_stats(df)
df

Waiting time over service time: 0.2571
Waiting time (for customers that waited) over service time: 0.8571
Waiting time (for customers that waited) over service time (for customers that waited): 0.8182

Rho: system utilisation: 0.6604

P_0: probability nobody in the system: 0.3396
W_s: the long term average time spent in the system: 4.4000
W_s: the long term average time spent in the system: 4.4000
W_q: the long term average time spent in the queue: 3.0000
W_q: the long term average time spent in the queue: 0.9000

W_time: the long term average waiting time per customer: 3.0000

IAT: average inter arrival time: 5.1111
ST: average service time: 3.5000

   IAT  ST  AT  TSB  TSE  TCSS  TCWQ  ITS
0    0   4   0    0    4     4     0    0
1    8   1   8    8    9     1     0    4
2    6   4  14   14   18     4     0    5
3    1   3  15   18   21     6     3    0
4    8   2  23   23   25     2     0    2
5    3   4  26   26   30     4     0    1
6    8   5  34   34   39     5     0    4
7    7   4  41   41   45     4     0    2
8    2   5  43   45   50     7     2    0
9    3   3  46   50   53     7     4    0

In [89]:
np.sum(df["TCWQ"])/len(df["TCWQ"])

0.9

    arrival rate: 8.0000 per hour
    service rate: 9.0000 per hour
    rho: 0.8889

    P_0: probability that there are 0 customers in the system = 0.1111
    P_1: probability of 1 customers in the system = 0.0988
    P_10: probability of 10 customers in the system = 0.0342

    no_q: probability that there is nobody in the queue (P_0+P_1) = 0.2099
    util_sys: system utilisation rate  (P_(n>=1)) = 0.8889
    util_ser: server utilisation rate (P_(n>=2)) = 0.7901

    L_s: the long term average number of customers present in the system = 8.0000
    L_q: the long term average number of customers present in the queue = 7.1111
    W_s: the long term average time spent in the system = 1.0000 hour (= 60.0 minutes)
    W_q: the long term average waiting time in the queue = 0.8889 hour (= 53.3 minutes)

#### Sandbox

In [20]:
P_0=np.sum(df["ITS"]) / df["TSE"].iloc[-1]
print(P_0)

0.10810810810810811

In [21]:
Rho =(df["TSE"].iloc[-1] - np.sum(df["ITS"])) / df["TSE"].iloc[-1]
print(Rho)

0.8918918918918919

In [22]:
print(Rho+P_0)

1.0

In [23]:
W_s =np.mean(df[df["TCSS"] != 0]["TCSS"])
print(W_s)

729.2903225806451

In [24]:
W_q =np.mean(df[df["TCWQ"] != 0]["TCWQ"])
print(W_q)

670.3448275862069

In [25]:
avST = np.mean(df["ST"])

In [26]:
print(np.mean(df["TCSS"]))

729.2903225806451