# Queueing theory - D/D/1 example

### 1. Imports

In [1]:
import openqtsim

import pandas as pd
import xlrd

### 2. Prepare inputs

#### Read IAT and ST table from Excel

In [2]:
df = pd.read_excel('Queueing theory - D D 1 example.xlsx', index_col=None, header=0, sheet_name='data')
df.head(5)

          name  IAT   ST   AT  maxwait  unloading  loading  length
0   Yellowstar   48   72   48       24         48       24      80
1       United    0  120   48       48         24       96      80
2    Oil Trade   72   48  120       24         48        0     100
3   Yellowstar   96   72  216       24         48       24      80
4  Fruit Trade    0  144  216        0         72       72      90

#### Define the queue object input

In [3]:
A = openqtsim.ArrivalProcess("D", df[["name","IAT","AT"]])
S = openqtsim.ServiceProcess("D", df[["name","ST"]])
c = 1

#### Create the queue object and use it to create a simulating object

In [4]:
# todo: enable deterministic analyses by adding a list of 'customer_name#', 'interarrival#' and 'servicetime#'
q = openqtsim.Queue(A, S, c)
q.kendall_notation

'D/D/1/inf/inf/FIFO'

### 3. Run the simulation

In [5]:
%%time
print('Start simulation of "{}" queue'.format(q.kendall_notation))
print('')

sim = openqtsim.Simulation(q)
sim.run(len(df["IAT"])-1) # nr is the number of customers that will arrive at the server

Start simulation of "D/D/1/inf/inf/FIFO" queue

Nr of customers: 30

Wall time: 132 ms

In [6]:
sim.get_stats()

Waiting time over service time: 6.5736

Rho: system utilisation: 0.9847

P_0: probability nobody in the system: 0.0153
W_s: the long term average time spent in the system: 781.6000
W_q: the long term average time spent in the queue: 678.4000
IAT: average inter arrival time: 69.5172
ST: average service time: 103.2000

In [7]:
sim.return_log()

,c_id,IAT,ST,AT,TSB,TSE,TCSS,TCWQ,ITS,QL
0,United,48,120,48.0,48.0,168.0,120.0,0.0,48,2
1,Oil Trade,0,48,48.0,168.0,216.0,168.0,120.0,0,2
2,Yellowstar,72,72,120.0,216.0,288.0,168.0,96.0,0,3
3,Fruit Trade,96,144,216.0,288.0,432.0,216.0,72.0,0,3
4,ABC,0,168,216.0,432.0,600.0,384.0,216.0,0,7
5,Yellowstar,72,72,288.0,600.0,672.0,384.0,312.0,0,6
6,United,96,120,384.0,672.0,792.0,408.0,288.0,0,7
7,Fruit Trade,48,144,432.0,792.0,936.0,504.0,360.0,0,8
8,Yellowstar,24,72,456.0,936.0,1008.0,552.0,480.0,0,9
9,Oil Trade,96,48,552.0,1008.0,1056.0,504.0,456.0,0,10
10,Gen. Cargo Trade,0,96,552.0,1056.0,1152.0,600.0,504.0,0,9
11,Fruit Trade,24,144,576.0,1152.0,1296.0,720.0,576.0,0,11
12,Yellowstar,120,72,696.0,1296.0,1368.0,672.0,600.0,0,10
13,United,24,120,720.0,1368.0,1488.0,768.0,648.0,0,12
14,Yellowstar,96,72,816.0,1488.0,1560.0,744.0,672.0,0,12
15,Fruit Trade,72,144,888.0,1560.0,1704.0,816.0,672.0,0,12
16,Oil Trade,48,48,936.0,1704.0,1752.0,816.0,768.0,0,12
17,ABC,48,168,984.0,1752.0,1920.0,936.0,768.0,0,11
18,Yellowstar,24,72,1008.0,1920.0,1992.0,984.0,912.0,0,10
19,Fruit Trade,48,144,1056.0,1992.0,2136.0,1080.0,936.0,0,10
20,United,120,120,1176.0,2136.0,2256.0,1080.0,960.0,0,9
21,Yellowstar,24,72,1200.0,2256.0,2328.0,1128.0,1056.0,0,8
22,Yellowstar,24,72,1224.0,2328.0,2400.0,1176.0,1104.0,0,7
23,Oil Trade,168,48,1392.0,2400.0,2448.0,1056.0,1008.0,0,6
24,Fruit Trade,24,144,1416.0,2448.0,2592.0,1176.0,1032.0,0,5
25,Yellowstar,0,72,1416.0,2592.0,2664.0,1248.0,1176.0,0,4
26,United,144,120,1560.0,2664.0,2784.0,1224.0,1104.0,0,3
27,ABC,24,168,1584.0,2784.0,2952.0,1368.0,1200.0,0,2
28,Gen. Cargo Trade,144,96,1728.0,2952.0,3048.0,1320.0,1224.0,0,1
29,Gen. Cargo Trade,288,96,2016.0,3048.0,3144.0,1128.0,1032.0,0,0

#### Plot IAT and ST

In [8]:
import matplotlib.pyplot as plt

fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(20, 12))

fig.suptitle('Overview of stochastic variables')
ax1.hist(sim.log["IAT"],1000); ax1.set_title('IAT');
ax2.hist(sim.log["ST"],1000); ax2.set_title('ST');

## Sandbox